<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                background-image: url("BG.gif");
                background-repeat: no-repeat;
                background-size: cover;
                font-size: larger;
                font-weight: bold;
                font-family: "Times New Roman", Times, serif;
                color: red;
                text-align: center;
            }
        </style>
        <meta charset="UTF-8">
        <title>Youtube Downloader</title>
    </head>
    <body>
        <form action="/download" method="POST">
            <label for="yturl">Youtube link </label>
            <input id="yturl" type="text" name="yturl" />
            <button type="submit">Download</button>
        </form>
    </body>
</html>