<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Youtube Downloader</title>
    </head>
    <body>
        <form action="/download" method="POST">
            <label for="yturl">Youtube link </label>
            <input id="yturl" type="text" name="yturl" />
            <button type="submit">Download</button>
        </form>
        <div class="form__group field">
            <label for="yturl" class="form__label">Youtube Link</label>
            <input type="input" class="form__field" placeholder="URL" name="yturl" id='yturl' required />
          </div>
    </body>
</html>